<div class="ui container">
    <br>
    <div class="ui segment">
        <h1>Uploader Test</h1>
        <form id="fileupload" action="https://upload.wistia.com" method="POST" file-upload="options" enctype="multipart/form-data"
            name="uploadForm">
            <div class="ui">
                <div class="ui segment">
                    <div class="ui fluid">
                        <table class="ui compact celled definition table">
                            <thead class="full-width">
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Preview</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        <div class="ui fitted checkbox">
                                            <input type="checkbox">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>
                                        <span id="fileName"></span>
                                    </td>
                                    <td>
                                        <span id="fileSize"></span>
                                    </td>
                                    <td>
                                        <span id="filePreview"></span>
                                    </td>
                                    <td>
                                        <div class="ui active indicating progress" id='uploadProgress'>
                                            <div class="bar">
                                                <div class="progress"></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                    <th colspan="5">
                                        <input type="file" ng-model="$ctrl.file" class="inputfile" id="uploadVideo" />

                                        <label for="uploadVideo" class="ui left floated primary labeled icon button">
                                            <i class="file video outline icon"></i>
                                            Select video
                                        </label>

                                        <button class="ui right floated compact labeled icon button red" data-ng-click="cancel()">
                                            <i class="trash icon"></i>
                                            Delete
                                        </button>
                                        <button class="ui right floated compact labeled icon button yellow">
                                            <i class="pause icon"></i>
                                            Pause
                                        </button>
                                        <button class="ui right floated compact labeled icon button green" data-ng-click="submit()">
                                            <i class="play icon"></i>
                                            Upload
                                        </button>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>

                <div class="ui segment">
                    <div class="ui horizontal divider blue">
                        Video Preview
                    </div>
                    <div class="ui segment">
                        <div class="ui embed" data-url="https://www.youtube.com/watch?v=KHQhp2cGZtE" data-placeholder="https://i.pinimg.com/originals/95/b0/6b/95b06bb42c3b4ac86c8e8e71236f07c4.png"></div>
                    </div>
                </div>
            </div>
        </form>
        <br>
    </div>

</div>